#product_custom_meta {
 	border: 4px solid #54727D;
}
#product_custom_meta h2 span {
 	font-size: 20px;
}
#product_custom_meta .aff_and_ord {
 	background-color: #FFF3FA;
 	padding: 15px 5px;
 	border-radius: 6px;
}
#product_custom_meta span {
  font-size: 16px;
}
#product_custom_meta input {
 	margin-bottom: 20px;
  border: 1px solid #54727D;
  padding: 5px;
  border-radius: 4px;
}
#product_custom_meta input[type="number"]{
 	width: 50px;
}
.tgl-shortcodes {
  padding: 20px 10px;
  background-color: #E0FFE0;
}
.tgl-shortcodes span {
  margin-bottom: 2px;
  display: block;
}
.tgl-shortcodes code {
  background-color: #fff;
}
.star-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.star-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #F3C92C;
  border: 2px solid #000;
  cursor: pointer;
}
.star-range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F3C92C;
  border: 2px solid #000;
  cursor: pointer;
}
#starrangeOutputId {
  position: relative;
	font-size: 25px;
	font-weight: bold;
  display: inline-block;
  letter-spacing: 6px;
}
#starrangeOutputId::after {
    content: ",";
    position: absolute;
    bottom: 0;
    left: 15px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.target-button-style p,
.feedback-button-style p {
  margin-bottom: 20px!important;
}
.target-button-style label,
.feedback-button-style label {
  display: block;
  margin-bottom: 10px;
  font-style: italic;
}
.target-button-text-value,
.feedback-button-text-value {
  min-width: 260px;
}